header {
    background: $maincolor;
    .header-wrapper {
        padding: 5px 15px;
    }
    .header-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-hamburger {
            position: relative;
            width: 30px;
            height: 30px;
            @include mq() {
                width: 40px;
                height: 40px;
            }
        }
        .header-serch {
            margin: 0 10px;
            input {
                background:$white;
                border-radius: 5px;
                padding: 1px 5px;
                width: 100%;
                font-size: 12px;
                @include mq() {
                    padding: 3px 10px;
                    width: 400px;
                }
            }
        }
        .header-user-icon {
            position: relative;
            background: $white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            @include mq() {
                width: 40px;
                height: 40px;
            }
            i {
                color: $dimgray;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}