.mainblock {
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    .mainblock-top {
        > .contents-wrapper {
        box-shadow: $lightgray 0 5px 5px;
        }
        .mainblock-top_inner {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @include mq() {
                flex-wrap: nowrap;
            }
            .contents-header {
                margin-bottom: 0;
                display: block;
                width: 100%;
                @include mq() {
                    width: auto;
                }
            }
            .gauge {
                margin: 0 auto;
                width: 75%;
                background-color: $lightgray;
                display: flex;
                align-items: center;
                padding: 3px 3px;
                height: 7px;
                width: 80%;
                @include mq() {
                    width: 75%;
                }
                .gauge-bar {
                    height: 3px;
                    width: 33%;
                    background-color: $accentcolor;
                    transition: 300ms;
                }
                .gauge-mark {
                    width: 3px;
                    height: 3px;
                    border-radius: 3px;
                    background-color: $accentcolor;
                    filter: saturate(500%);
                    visibility: visible;
                    box-shadow: 0 0 5px 3px $accentcolor,
                                0 0 7px 7px $accentcolor2;
                }
            }
        }
        .mainblock-top_inner_bico {
            width: 100%;
            text-align: center;
            > label {
                > input {
                    position: fixed;
                    top: -100vh;
                    &:checked ~ .mainblock-top_menu {
                        display: flex;
                    }
                }
            }
            i {
                font-size: 15px;
                @include mq() {
                    font-size: 30px;
                }
            }
            .mainblock-top_menu {
                display: none;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 20px;
                @include mq() {
                    flex-wrap: nowrap;
                    flex-direction: row;
                }
                .contents-header_sub {
                    border-bottom: 1px solid $maincolor;
                }
                .tasks {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    @include mq() {
                        align-items: flex-start;
                        display: block;
                    }
                    ul.scroll {
                        display: inline-block;
                        height: 80px;
                        line-height: 30px;
                        overflow-y: scroll;
                        font-weight: bolder;
                        width: 50%;
                        @include mq() {
                            margin-bottom: 15px;
                            width: 200px;
                            height: 50px;
                        }
                        .done {
                            text-decoration: line-through;
                            color: $lightgray;
                        }
                        .current {
                            color: $accentcolor;
                            position: relative;
                            &::after {
                                color: $dimgray;
                                font-family: "Font Awesome 5 Free";
                                content: '\f054';
                                font-weight: 900;
                                position: absolute;
                                margin-left: 10px;
                                @include mq() {
                                    content: '\f078';
                                }
                            }
                        }
                    }
                    .child-tasks {
                        display: block;
                        width: 45%;
                        @include mq() {
                            width: 100%;
                        }
                        li {
                            display: block;
                            list-style: none;
                            input {
                                display: none;
                                &:checked ~ label {
                                    text-decoration: line-through;
                                    color: $lightgray;
                                    position: relative;
                                   &::after {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        top: .5em;
                                        left: -1.5em;
                                        width: 10px;
                                        height: 5px;
                                        border-left: 2px solid $accentcolor;
                                        border-bottom: 2px solid $accentcolor;
                                        transform: rotate(-45deg);
                                   }
                                }
                            }
                        }
                    }
                }
                .links, .documents {
                    line-height: 30px;
                    margin: 20px 0;
                    padding: 0 10px;
                    // box-sizing: border-box;
                    @include mq() {
                        margin: 0;
                    }
                    li {
                        list-style: none;
                        &::before {
                            font-family: "Font Awesome 5 Free";
                            content: '\f35d';
                            font-weight: 900;
                            padding-right: 5px;
                            color: $lightgray;
                        }
                        a {
                            text-decoration: none;
                            color: $subcolor;
                        }
                    }
                }
                .links {
                    width: 40%;
                    @include mq() {
                        width: 100%;
                    }
                }
                .documents {
                    width: 40%;
                    @include mq() {
                        width: 100%;
                    }
                    li::before {
                        content: '\f0c1';
                   }
                }
                .members {
                    ul {
                        height: 100px;
                        width: 200px;
                        display: block;
                        line-height: 30px;
                        overflow-y: scroll;
                        font-weight: bolder;
                        margin-bottom: 15px;
                        @include mq() {
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
    .mainblock-middle {
        padding: 20px;
        overflow-y: scroll;
        height: calc(100vh - 250px);
        @include mq() {
            height: calc(100vh - 350px);
        }
        .message-block {
            margin-bottom: 10px;
            @include mq() {
                margin-bottom: 20px;
            }
            .message-block_inner {
                display: flex;
                .message-ico {
                    position: relative;
                    box-sizing: border-box;
                    width: 30px;
                    height: 30px;
                    border-radius: 10%;
                    padding: 10px;
                    background: $lightgray;
                    margin-right: 10px;
                    flex-shrink: 1;
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $black;
                    }
                }
                .message-txt {
                    padding: 5px;
                    border-radius: 10%;
                    background: $accentcolor2;
                    line-height: 1.7;
                    flex-shrink: 9;
                }
            }
        }
    }
    .mainblock-bottom {
        width: 100%;
        position: absolute;
        bottom: 0;
        .submit-area {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            @include mq() {
                margin-bottom: 20px;
            }
            .submit-text {
                width: 90%;
                background: $lightgray;
                padding: 2px 4px;
                border-radius: 5px;
                @include mq() {
                    padding: 6px 8px;
                }
            }
            .submit-btn {
                width: 8%;
                position: relative;
                margin-left: 10px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid $black;
                @include mq() {
                    width: 40px;
                    height: 40px;
                }
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 24px;
                    color: $darkgray;
                }
            }
        }
    }
}