.contents-header {
    font-size: 14px;
    margin-bottom: 15px;
    @include mq() {
        font-size: 20px;
    }
}

.contents-header_sub {
    font-size: 18px;
    border-bottom: 1px solid $white;
    padding-bottom: 5px;
    margin-bottom: 5px;
}