doctype
html(lang='ja')
  include common/_head
  body
    #app
      include common/_header

      main.main
        include components/_leftmenus
        include components/_mainblock

    script(src="./app/vue.js") 