#hamburger {
    &.active .hamburger {
        span{
            &:first-child{
                -webkit-transform: translateY(10px) rotate(-315deg);
                transform: translateY(10px) rotate(-315deg);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                -webkit-transform: translateY(-10px) rotate(315deg);
                transform: translateY(-10px) rotate(315deg);
            } 
        }
    }
}

.hamburger{
    display: block;
    position: fixed;
    top: 7px;
    left: 15px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
    @include mq() {
        display: none;
    }
    span{
        display: block;
        position: absolute;
        left: 0;
        width: 28px;
        height: 2px;
        background-color: $white;
        border-radius: 4px;
        transition: all .5s;
        &:first-child{
            top: 2px;
        }
        &:nth-child(2){
            top: 12px;
        }
        &:nth-child(3){
            bottom: 6px;
        }
    }
    &.active {
            span{
                &:first-child{
                    -webkit-transform: translateY(10px) rotate(-315deg);
                    transform: translateY(10px) rotate(-315deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    -webkit-transform: translateY(-10px) rotate(315deg);
                    transform: translateY(-10px) rotate(315deg);
                } 
            }
        }
    }