.hov {
    transition: all ease .3s;
    &.hov-scale {
        &:hover {
            transform: scale(1.1);
        }
    }
    &.hov-rotate {
        &:hover {
            transform: rotate(30deg);
        }
    }
    &.hov-colored {
        &:hover {
            color: $white;
        }
    }
    &.hov-bg {
        &:hover {
            background: $black;
            color: $white;
        }
    }
}