.left-menus {
    display: flex;
    justify-content: flex-start;
    background: $subcolor;
    position: fixed;
    z-index: 2;
    left: -101vw;
    transition: left ease .3s;
    @include mq() {
        position: static;
    }
    &.active {
        left: 0;
    }
    .left-contents {
        width: 52px;
        height: calc(100vh - 40px);
        border-right: 1px solid $white;
        position: relative;
        @include mq() {
            height: calc(100vh - 51px);
        }
        .workspacies, .configs {
            &-wrapper {
                padding: 15px;
            }
            &-inner {
                display: flex;
                flex-direction: column;
                .workspace, .config-menu {
                    position: relative;
                    box-sizing: border-box;
                    width: 30px;
                    height: 30px;
                    border-radius: 10%;
                    padding: 10px;
                    background: $white;
                    margin-bottom: 10px;
                    &:last-child {
                        background: transparent;
                    }
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 24px;
                        
                    }
                }
            }
        }
        .configs {
            position: absolute;
            bottom: 0;
        }
    }
    .right-contents {
        width: 220px;
        height: calc(100vh - 51px);
        border-right: 1px solid $white;
        position: relative;
        li.btn.hov.hov-colored {
            .ico-wrap {
                position: relative;
                box-sizing: border-box;
                width: 20px;
                height: 20px;
                border-radius: 10%;
                padding: 10px;
                background: $white;
                margin-right: 10px;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $black;
                }
            }
        }
        .content-block {
            margin-bottom: 30px;
            &.dm ul {
                height: 15vh;
            }
            ul {
                margin: 15px;
                height: 30vh;
                overflow-y: scroll;
                li {
                    margin-bottom: 10px;
                    list-style: none;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    &.selected, &:hover {
                        color: $white;
                        &::after {
                            font-family: "Font Awesome 5 Free";
                            content: '\f054';
                            font-weight: 900;
                            margin-left: 10px;
                        }
                    }
                }
            }
        } 
    }
}