.scroll {
	&::-webkit-scrollbar {
		position: relative;
		right: 5px;
        width: 5px;
    }
    &::-webkit-scrollbar-track {
		// background-color: $lightgray;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background: $accentcolor;
    }
}

.cp_ipselect {
	position: relative;
	width: 90%;
	margin: .7em auto;
	text-align: center;
}
.cp_sl06 {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 90%;
	padding: 10px 10px 10px 0;
	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid $subcolor;
    color: $subcolor;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.cp_sl06:focus {
	outline: none;
	border-bottom: 1px solid $subcolor;
}
.cp_ipselect .cp_sl06 {
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid $subcolor;
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: $subcolor;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}
.cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
	color: $lightgray;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: $subcolor;
	transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

.checkbox-list {
    margin: 0 0 .5rem 0;
    padding: 0;
    label {
      position: relative;
      margin: .5rem;
      font-family: Arial, sans-serif;
      line-height: 135%;
      cursor: pointer;
      &::before {
        // @include transition(all .3s ease-in-out);
        content: "";
        position: absolute;
        left: -25px;
    	top: 2px;
        z-index: 1;
        width: 1rem;
        height: 1rem;
        border: 2px solid #f2f2f2;
		transition: transform .2s ease;
      }
    }
    input[type="checkbox"] {
      position: relative;
      top: rem(-6);
      margin: 0 1rem 0 0 ;
      cursor: pointer;
      
      &:checked {
        & ~ label::before {
        //    @include transform(rotate(-45deg));
		transform: rotate(-45deg);
          height: .5rem;
          border-color: $accentcolor;
          border-top-style: none;
          border-right-style: none;
        }
      }
      
    }
  }
  
  
  
  .button--round { 
    // @include transition(.3s background ease-in-out);
    width: 2rem;
    height: 2rem;
    background: $subcolor;
    border-radius: 50%;
    box-shadow: 0 rem(2) rem(5) 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    text-decoration: none;
    text-align: center;
    i {
      font-size: 1rem;
      line-height: 220%;
      vertical-align: middle;
    }
    &:hover {
      background: $accentcolor;
    }
  }
  