// main
// 青ベース
$maincolor: #316B83;
$subcolor: #6D8299;
$accentcolor: #B1FFFD;
$accentcolor2: #e3fffe;

// 緑ベース
// $maincolor: #5c940d;
// $subcolor: #74b816;
// $accentcolor: #38d9a9;
// $accentcolor2: #63e6be;


// components
$black: rgb(48, 33, 33);
$white: #fff;
$lightgray: lightgray;
$dimgray: dimgray;
$darkgray: darkgray;