header 
    .header-wrapper
        .header-inner 
            .header-hamburger.btn
                //- i.fas.fa-bars
                input(type="checkbox", name="humberger", id="humberger")
                label(for="humberger", class="humberger")
                    span
                    span
                    span
            .header-serch
                form(action="") 
                input(type="text" class="focus")
            .header-user-icon.btn.hov.hov-bg 
                i.fas.fa-user